bluebook-for-bulldozers/
bluebook-for-bulldozers/Data Dictionary.xlsx
bluebook-for-bulldozers/Test.csv
bluebook-for-bulldozers/Train.7z
bluebook-for-bulldozers/Machine_Appendix.csv
bluebook-for-bulldozers/Train.csv
bluebook-for-bulldozers/Train.zip
bluebook-for-bulldozers/TrainAndValid.7z
bluebook-for-bulldozers/TrainAndValid.csv
bluebook-for-bulldozers/TrainAndValid.zip
bluebook-for-bulldozers/Valid.7z
bluebook-for-bulldozers/Valid.csv
bluebook-for-bulldozers/Valid.zip
bluebook-for-bulldozers/ValidSolution.csv
bluebook-for-bulldozers/median_benchmark.csv
bluebook-for-bulldozers/random_forest_benchmark_test.csv
bluebook-for-bulldozers/test_predictions.csv
bluebook-for-bulldozers/train_tmp.csv